.button {
    font-size: 24px;
    width: 208px;
    border: solid 5px rgba(233, 222, 209, 1);
    text-align: center;
    color: rgba(233, 222, 209, 1);
    margin-top: 40px;
}

a:link {
    color: rgba(11, 6, 2, 1);
    text-decoration: none;

}

a:visited {
    color: rgba(11, 6, 2, 1);
    text-decoration: none;

}

a:hover {
    opacity: 0.5;
    text-decoration: line-through;
    position: relative;
    transform: scale(1.1);



}



